<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inganio.demo.Nft.Mapper.NftMapper">

	<insert id="nftContractIns" parameterType="hashMap" useGeneratedKeys="true" keyProperty="conSeq">
			/* nftContractIns :: nft 컨트랙션 등록 */
			INSERT INTO TB_CONTRACT SET
			conSeq = #{conSeq}
			,eventId = 1
			,hostId = 1
			, symbol = #{symbol}
			, nameKo = #{nameKo}
			, nameEn = #{nameEn}
			, statusCont = #{status}
			, typeCont = #{type}
			, contractAddress = #{contractAddress}
			, createdDate = #{createdDate}
			, modifiedDate = #{modifiedDate}
	</insert>
	
	<insert id="nftTrIns" parameterType="hashMap" useGeneratedKeys="true" keyProperty="tranSeq">
			/* nftTrIns :: nft 컨트랙션 트랜잭션 등록 */
			INSERT INTO TB_CONTRACT_TXN SET
			tranSeq = #{tranSeq}
			, conSeq = #{conSeq}
			, uuidTxn = #{uuid}
			, idx = #{idx}
			, transType = #{type}
			, txid = #{txid}
			, fromAdd = #{fromAddress}
			, toAdd = #{toAddress}
			, amount = #{amount}
			, usedFee = #{usedFee}
			, blockHeight = #{blockHeight}
			, statusTxn = #{status}
			, outputIndex = #{outputIndex}
			, createdDate = #{createdDate}
			, modifiedDate = #{modifiedDate}
			, finalizedDate = #{finalizedDate}
	</insert>
	
	
	<insert id="eventIns" parameterType="hashMap" useGeneratedKeys="true" keyProperty="eventId">
		/* 행사 등록 */
		INSERT INTO TB_EVENT SET
		eventId = #{eventId}
		,hostId = 1
		,eventNm = #{eventNm}
		,eventLocation = #{eventLocation}
		,eventDate = #{eventDate}
		,startPrice = #{startPrice}
		,amount = #{amount}
		,startDate = #{startDate}
		,endDate = #{endDate}
	</insert>
</mapper>